%p= @build_part.kind
%p= @build_part.paths

%table
  %tr
    %th state
    %th started at
    %th elapsed time
    %th artifacts
  - @build_part.build_attempts.each do |attempt|
    %tr
      %td= attempt.state
      %td= attempt.started_at
      %td= attempt.elapsed_time
      %td
        - attempt.build_artifacts.map do |artifact|
          = link_to artifact.log_file.to_s, artifact.log_file.url

%hr
= @build_part.inspect
%br
= @build_part.build_attempts.inspect
