= content_for :title, "#{@build_part.id}/#{@build.ref}"
= content_for :favicon do
  = favicon_link_tag image_path("#{@build_part.to_color}.png"), :type => 'image/png'

%h2.subheader
  = link_to(@build.project.name, project_path(@build.project))
  \-
  = link_to project_build_path(@project, @build) do
    %code{ title: @build.ref }= @build.ref[0, 5]
  \- Part #{@build_part.id}

  .actions
    %label
      = check_box_tag :refresh, true, @build_part.is_running?
      Refresh

%table.build-part-info
  %thead
    %tr
      %th.right.count Attempt
      %th.status Status
      %th Started At
      %th.right.time Elapsed Time
      %th.right.worker Worker
      %th Build Artifacts
      %th.right.actions Actions
  %tbody
    - @build_part.build_attempts.each_with_index do |attempt, index|
      %tr
        %td.right= index + 1
        %td
          %span.attempt-status{:class => attempt.state}= attempt.state.to_s.capitalize
        %td= attempt.started_at
        %td.right= duration_strftime(attempt.elapsed_time)
        %td.right= attempt.builder ? attempt.builder.sub('.squareup.com', '') : "pending"
        %td
          -# ci_reporter in square-web generates a bunch of xml files that we
          -# do not want to show in the web interface.
          - attempt.build_artifacts.reject {|artifact| artifact.log_file.path =~ /\.xml\.gz/}.each do |artifact|
            = link_to File.basename(artifact.log_file.to_s), artifact.log_file.url
            %br
        %td
          - if attempt.unsuccessful? && @build_part.unsuccessful?
            = link_to("Rebuild", rebuild_project_build_part_path(@project, @build, @build_part), :method => :post)
          - if attempt.running?
            = link_to("Abandon", finish_build_attempt_path(attempt, :state => :errored), :method => :post)

%ol#build-paths
  - @build_part.paths.each do |path|
    %li=path

= content_for :javascript do
  :javascript
    if ($('.build-part-info tbody tr').length > 0)
      $('.build-part-info').tablesorter({ sortList: [ [0, 0] ] });
    Kochiku.delayedRefresh();
