%p= @build_part.kind
%p= @build_part.paths

%table
  %tr
    %th result
    %th started at
    %th elapsed time
    %th artifacts
  - @build_part.build_part_results.each do |result|
    %tr
      %td= result.result
      %td= result.started_at
      %td= result.elapsed_time
      %td= result.build_artifacts.map(&:name)

%hr
= @build_part.inspect
%br
= @build_part.build_part_results.inspect