%h2.subheader
  =link_to @build.ref, project_build_path(@project, @build)
  &mdash; Part #{@build_part.id}

%h3 Type
%div.type
  =@build_part.kind.capitalize

%h3 Paths
%ol#build-paths
  - @build_part.paths.each do |path|
    %li=path

%h3 Attempts
%table.build-part-info
  %thead
    %tr
      %th Attempt #
      %th Status
      %th Started At
      %th Elapsed Time
      %th Build Artifacts
      %th Actions
  %tbody
    - @build_part.build_attempts.each_with_index do |attempt, index|
      %tr{:class => cycle("odd-row", "even-row")}
        %td= index + 1
        %td.result-column
          %span.attempt-status{:class => attempt.state}= attempt.state.to_s.capitalize
        %td= attempt.started_at
        %td= duration_strftime(attempt.elapsed_time)
        %td
          - attempt.build_artifacts.each do |artifact|
            = link_to File.basename(artifact.log_file.to_s), artifact.log_file.url
            %br
        %td
          - if attempt.unsuccessful? && @build_part.unsuccessful?
            = link_to("Rebuild", rebuild_project_build_part_path(@project, @build, @build_part), :method => :post)
