= content_for :title do
  = @build.ref[0, 7]
  &ndash;
  = @repository.name
= content_for :favicon do
  = favicon_link_tag image_path("#{@build_part.to_color}.png"), :type => 'image/png'

%h2.subheader
  = link_to(@build.repository.name_with_namespace, repository_branches_path(@build.repository))
  &ndash;
  = link_to(@build.branch_record.name, repository_branch_path(@build.repository, @build.branch_record))
  &ndash;
  = link_to repository_build_path(@repository, @build) do
    %code.build-status{class: @build.state, title: @build.ref}
      = @build.ref[0, 7]
  &ndash; #{@build_part.kind} (part #{@build_part.id})

  .actions
    %label
      - if @repository.enabled?
        = link_to("Rebuild", rebuild_repository_build_part_path(@repository, @build, @build_part), method: :post, class: "rebuild button")
    %label
      = check_box_tag :refresh, true, @build_part.not_finished?
      Refresh

.build-info.build-info-subheader
  %span.info
    %span.status{:class => 'build-part-' + @build_part.status.to_s}= @build_part.status.to_s.capitalize
    on
    %span.queue #{@build_part.queue} queue

%table.build-part-info
  %thead
    %tr
      %th.right.count Attempt
      %th.status Status
      %th.queue-position Position
      %th Started At
      %th.right.time Elapsed Time
      %th.right.worker Worker
      %th Build Artifacts
      %th.right.actions Actions
  %tbody
    - @build_part.build_attempts.each_with_index do |attempt, index|
      = render partial: 'build_parts/build_attempts', locals: {attempt: attempt, index: index, build_attempts_rank: @build_attempts_rank}

%ol#build-paths
  - if @build_part.options['total_workers'] && @build_part.options['worker_chunk']
    %li Chunk #{@build_part.options['worker_chunk']} of #{@build_part.options['total_workers']}
  - @build_part.paths.each do |path|
    %li= path

= content_for :javascript do
  :javascript
    if ($('.build-part-info tbody tr').length > 0) {
      $('.build-part-info').tablesorter({ sortList: [ [0, 0] ] });
      StartTimes = #{
        # rubocop:disable Style/IndentationConsistency
        start_times = {}
        @build_part.build_attempts.each_with_index { |attempt, index| start_times[index + 1] = attempt.started_at }
        start_times.to_json
      };
    }
    Kochiku.buildInfo = {table: '.build-part-info tbody', renderTime: Date.parse("#{raw @build_part.updated_at}"), state: "#{@build.state}"};

    Kochiku.buildInfo.id = #{@build.id};
    Kochiku.buildInfo.branch = "#{@build.branch_record.name}";
    Kochiku.buildInfo.repo = "#{@build.repository.name}";

    Kochiku.terminalStates = #{raw BuildAttempt::COMPLETED_BUILD_STATES};
    Kochiku.doneMessage = "BuildPart on "

    Kochiku.delayedRefresh(Kochiku.buildInfo);
