- display_ruby_version = multiple_ruby_versions?(build)
%tr{:"data-id" => part.id}
  %td.right= link_to(part.id, repository_build_part_path(build.repository, build, part))
  %td
    %span.part-status{:class => part.status}
      - text = part.status.to_s.capitalize
      - if part.status == 'running' && part.last_attempt.log_streamer_port.present?
        = link_to(text, stream_logs_path(part.last_attempt.id))
      - elsif (artifact = part.most_recent_stdout_artifact)
        = link_to(text, artifact, :title => 'Last completed stdout.log')
      - else
        = text
  - position = build_parts_position[part.id]
  - if position.present?
    %td{:class => 'queue-position-value'}
      = position
  - else
    %td
  - build_metadata_values(build, part, display_ruby_version).each do |value|
    %td= value
  %td= part.kind.to_s
  %td.right
    - builder = part.last_attempt.try(:builder)
    = builder ? builder.sub(".#{Settings.domain_name}", '') : "pending"
  %td.right.elapsed= part.elapsed_time ? duration_strftime(part.elapsed_time) : "pending"
  %td.right= part.build_attempts.size
  %td.right
    - if part.unsuccessful? && repository.enabled?
      = link_to("Rebuild", rebuild_repository_build_part_path(build.repository, build, part), :method => :post)
