<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title><%= @project.name %> most recent 20 builds</title>
  <link type="text/html" href="<%= "http://macbuild-master.sfo.squareup.com/projects/#{@project.name}" %>"/>
  <updated><%= @builds.first.updated_at.strftime("%Y-%m-%dT%H:%M:%SZ") %></updated>
  <author>
    <name>Kochiku Server</name>
  </author>
  <id><%= @project.id %></id>
  <% @builds.each do |build| %>
  <entry>
    <title><%= "#{@project.name} ##{build.ref} (#{ build.succeeded? ? 'stable' : 'broken since this build' })" %></title>
    <link type="text/html" href="<%= "http://macbuild-master.sfo.squareup.com/projects/#{@project.name}/builds/#{build.id}/" %>" />
    <id><%= build.id %></id>
    <published><%= build.updated_at.strftime("%Y-%m-%dT%H:%M:%SZ") %></published>
    <updated><%= build.updated_at.strftime("%Y-%m-%dT%H:%M:%SZ") %></updated>
  </entry>
  <% end %>
</feed>