= content_for :title do
  = @build.ref[0, 7]
  &ndash;
  = @build.project.name
= content_for :favicon do
  = favicon_link_tag image_path("#{@build.to_color}.png"), :type => 'image/png'

%h2.subheader
  - unless @build.project.main?
    - if main_project = @build.project.repository.main_project
      = link_to main_project.name, main_project
      &ndash;
  = link_to(@build.project.name, project_path(@build.project))
  &ndash;
  %code.build-status{ class: @build.state, title: @build.ref }
    = @build.ref[0, 7]
  %a.info{:href => show_link_to_commit(@build)}
    Show on GitHub
  - if @project.main?
    %a.info{:href => show_link_to_compare(@build, @build.previous_successful_build.try(:ref), @build.ref), :title => 'show changes since last green build'}
      Compare to last green build

  .actions
    %form{action: toggle_auto_merge_project_build_path(@build.project, @build), method: :post}
      %label
        = check_box_tag :auto_merge, true, @build.auto_merge_enabled?, disabled: !@build.auto_merge_togglable?, onchange: 'this.form.submit()'
        Merge on Success

    %label
      = check_box_tag :refresh, true, @build.is_running?
      Refresh

.build-info.build-info-subheader
  %span.info
    %span.state{:class => 'build-' + @build.state.to_s}= @build.state.to_s.capitalize
    on
    %span.queue #{@build.queue} queue
  - if @build.succeeded? && !@project.main?
    %a.info{:href => show_link_to_create_pull_request(@build), :title => 'create a pull request against master'}
      Create pull request
  %span.info= "Created #{time_ago_in_words @build.created_at} ago"
  %span.info= "Updated #{time_ago_in_words @build.updated_at} ago"
  - if @build.completed?
    %span.info
      = "Built in #{duration_strftime(@build.elapsed_time, "%Hh %Mm %Ss")}"
  - if @build.is_running?
    %span.info
      = button_to "Abort Build", abort_project_build_path(@build.project, @build), :method => "put", :class => "abort-build"
  - if @build.failed?
    %span.info
      = button_to "Rebuild failed parts", rebuild_failed_parts_project_build_path(@project, @build), :method => :post, :form_class => "rebuild-parts"

%table.build-summary#build-summary
  %thead
    %tr
      %th.right.id Part
      %th.status Status
      - build_metadata_headers(@build).each do |header|
        %th{ class: header.downcase.gsub(/\W+/, '-') }= header
      %th.type Type
      %th.right.worker Worker
      %th.right.time Elapsed Time
      %th.right.count Attempt
      %th.right.actions Actions
  %tbody
    - @build.build_parts.each do |part|
      %tr
        %td.right= link_to(part.id, project_build_part_path(@project, @build, part))
        %td
          %span.part-status{:class => part.status}
            - text = part.status.to_s.capitalize
            - if artifact = part.last_stdout_artifact
              =link_to(text, artifact.log_file.url, :title => 'Last completed stdout.log')
            - else
              =text
        - build_metadata_values(@build, part).each do |value|
          %td= value
        %td= part.kind.to_s.capitalize
        %td.right
          - builder = part.last_attempt.try(:builder)
          = builder ? builder.sub('.squareup.com', '') : "pending"
        %td.right= part.elapsed_time ? duration_strftime(part.elapsed_time) : "pending"
        %td.right= part.build_attempts.size
        %td.right
          - if part.unsuccessful?
            = link_to("Rebuild", rebuild_project_build_part_path(@project, @build, part), :method => :post)

= content_for :javascript do
  :javascript
    if ($('#build-summary tbody tr').length > 0)
      $('#build-summary').tablesorter({ sortList: [ [1, 0] ] });
    Kochiku.delayedRefresh();
