<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<% if @build.project.name != "web" %>
  Emails this would have been sent to:
  <ul>
  <% @emails.each do |email| %>
    <li><%= email %></li>
  <% end %>
  </ul>
<% end %>
<h2>Project <%= @build.project.name %> failed</h2>
Failed build parts:
<ul>
  <% @failed_build_parts.each do |failed_build_part| %>
  <li>
    <%= project_build_part_url(@build.project, @build, failed_build_part) %> for details<br>
    <br>
    Or go directly to <%= failed_build_stdout(failed_build_part) %>
  </li>
  <% end %>
</ul>

<h1>Changes since last success</h1>
<% @git_changes.each do |git_change| %>
  <b>commit <%= link_to(git_change[:hash], "#{@build.project.repository.base_html_url}/commit/#{git_change[:hash]}") %></b><br>
  Author: <%= git_change[:author] %><br>
  Date: <%=  git_change[:date] %><br>
  <br>
  <%= git_change[:message] %>
  <br><br>
<% end %>

</body>
</html>