<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1><%= @build.branch %> build succeeded for <%= @build.project.name %></h1>
    <%= link_to('Link to build.', project_build_url(@build.project, @build)) %>
    <% if @build.build_parts.count > 1 %>
      The build was sharded into <%= @build.build_parts.count %> parts and took <%= @build.elapsed_time.to_i/60 %> minutes.
      (<%= @build.idle_time.to_i/60 %>m idle, <%= @build.build_time.to_i/60 %>m
      <% if @build.retry_count > 0 %>
        running, requiring <%= @build.retry_count %> retries.)<br>
      <% else %>
        running.)<br>
      <% end %>
      Without sharding the build would have taken <%= (@build.linear_time.to_i/60) * (1 + @build.max_retries) %> minutes.<br>
      <% if @build.retry_count > 0 %>
        (<%= @build.linear_time.to_i/60 %>m building, requiring <%= @build.max_retries %> retries.)
      <% end %>
    <% else %>
      The build took <%= @build.elapsed_time.to_i/60 %> minutes.
      (<%= @build.idle_time.to_i/60 %>m idle, <%= @build.build_time.to_i/60 %>m running
      <% if @build.retry_count > 0 %>
        , requiring <%= @build.retry_count %> retries.)<br>
      <% else %>
        .)<br>
      <% end %>
    <% end %>
    <h2>Changes included in build</h2>
    <% @git_changes.each do |git_change| %>
      <b>SHA: <%= link_to(git_change[:hash], "#{@build.project.repository.remote_server.href_for_commit(git_change[:hash])}") %></b><br>
      <b>Committer:</b> <%= git_change[:author] %><br>
      <b>Date:</b> <%=  git_change[:date] %><br>
    <pre><%= git_change[:message] %></pre>
    <br><br>
  <% end %>
  </body>
</html>
