<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <h2>Project <%= @build.project.name %> succeeded on branch <%= @build.branch %></h2>
  <%= project_build_url(@build.project, @build) %><br>
  <h2>Changes included in build</h2>
    <% @git_changes.each do |git_change| %>
    <b>commit <%= link_to(git_change[:hash], "#{@build.project.repository.remote_server.href_for_commit(git_change[:hash])}") %></b><br>
    Author: <%= git_change[:author] %><br>
    Date: <%=  git_change[:date] %><br>
    <br>
    <%= git_change[:message] %>
    <br><br>
  <% end %>
</body>
</html>
