!!!
%html
  %head
    %title Kochiku
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    -#= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"
    = javascript_include_tag 'jquery-1.5.2.min', "rails", "application"
    = csrf_meta_tag
    = favicon_link_tag
  %body
    #nav
      = link_to "Resque Admin", "/resque"
      = link_to "Dogfood Build", new_build_path
    #content
      = yield

