!!!
%html
  %head
    %title
      Kochiku
      = yield(:title)
    = stylesheet_link_tag 'tipTip.css', :media => 'screen'
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = csrf_meta_tag
    - if favicon = yield(:favicon)
      = favicon
    - else
      = favicon_link_tag
  %body
    #header.section-wrapper
      .section
        %a{:href => root_path, :class => "logo", :title => "Home"}
          %h1
            <span class="title-first">Kochi</span><span class="title-second">ku</span>
            %span.translation こうちく
        %div.header-right
          = yield :header
    #content.section-wrapper
      .section
        - if flash[:error].present?
          .flash.error
            = flash[:error]
        - if flash[:message].present?
          .flash.message
            = flash[:message]
        = yield

    #nav= link_to "Resque Admin", "/resque"

  = javascript_include_tag 'application'
  :javascript
    $(document).ready(function() {
      $('.part').tipTip({maxWidth: "auto", edgeOffset: 10, fadeIn: 100, fadeOut: 100});
    });
  = yield :javascript
