!!!
%html{ :lang => 'en' }
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ :name => 'google', :value => 'notranslate' }
    %title
      - if (title = yield(:title)).present?
        #{title} &ndash;
      Kochiku
    = stylesheet_link_tag 'tipTip.css', :media => 'screen'
    = stylesheet_link_tag 'screen.css', :media => 'all'
    = csrf_meta_tag
    - if (favicon = yield(:favicon)).present?
      = favicon
    - else
      = favicon_link_tag
  %body
    #page
      #header.section-wrapper
        .section
          %a{:href => root_path, :class => "logo", :title => "Home"}
            %h1
              %b Kochiku
              %ruby.translation
                構 <rt>こう</rt>
                築 <rt>ちく</rt>
          %div.header-right
            = yield :header
      #content.section-wrapper
        .section
          - if flash[:error].present?
            .flash.error
              = flash[:error]
          - if flash[:message].present?
            .flash.message
              = flash[:message]
          = yield

      #nav.section= link_to "Build taking too long? (Resque Admin)", "/resque"

  = javascript_include_tag 'application'
  :javascript
    $(document).ready(function() {
      $('.part').tipTip({
        delay: 100,
        maxWidth: "auto",
        edgeOffset: 10,
        fadeIn: 100,
        fadeOut: 100
      });
    });
  = yield :javascript
