!!!
%html
  %head
    %title
      Kochiku
    = stylesheet_link_tag 'tipTip.css', :media => 'screen'
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    -#= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"
    = javascript_include_tag 'jquery-1.5.2.min', "rails", "application", 'jquery.tipTip', "jquery.tablesorter.min.js"
    = csrf_meta_tag
    = favicon_link_tag
  %body
    #header.section-wrapper
      .section
        %a{:href => root_path, :class => "logo", :title => "Home"}
          %h1
            <span class="title-first">Kochi</span><span class="title-second">ku</span>
            %span.translation
              こちく
        %div.header-right
          = yield :header
    #content.section-wrapper
      .section
        - if flash[:error].present?
          .flash.error
            = flash[:error]
        - if flash[:message].present?
          .flash.message
            = flash[:message]
        = yield

    #nav
      = link_to "Resque Admin", "/resque", :class => "button"

  :javascript
    $(document).ready(function() {
      $('.part').tipTip({maxWidth: "auto", edgeOffset: 10, fadeIn: 100, fadeOut: 100});
    });
