!!!
%html
  %head
    %title Kochiku
    = stylesheet_link_tag :all
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"
    = javascript_include_tag :all
    = csrf_meta_tag
    = favicon_link_tag
  %body
    %header
      = link_to "Resque Admin", "/resque"
    %content
      = yield
